
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#map { 
  position:absolute; 
  top:50px; 
  bottom:0px; 
  left: 0px;
  right: 50px;
  width:100%; 
}

#radiusList {
  top: 50px;
}
 