.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.nav-item {
  cursor: pointer;
}

.container {
  margin: 1%;
}

#map { 
  position:absolute; 
  top: 50px; 
  bottom: 0px; 
  left: 0px;
  right: 50px;
  width: 100%; 
}

#mapTag {
  padding-top: 10%;
}

#radiusList {
  top: 50px;
}

#facts {
  padding-top: 10%;
  min-height: 50vh;
}

#joke {
  padding-top: 10%;
  min-height: 50vh;
}
#dad-joke-here {
  margin: 1%;
  width: 100%;
  align-content: center;
}

#dad-gif-here {
  margin: 1%;
  width: 100%;
  align-content: center;
}